<div class="select" #selector>
  <!-- Closed component -->
  <header class="select-presentation" (click)="openSelect($event)">
    <span>{{ textPresentation() }}</span>
    <i class="material-icons">{{ iconExpand() }}</i>
  </header>

  <!-- Opened component -->
  <div class="select-options-container" *ngIf="opened" #options>
    <div>
      <header *ngIf="enableSearch">
        <input
          type="text"
          [formControl]="searchControl"
          placeholder="Buscar..."
        />
      </header>
      <ul *ngIf="visibleOptions.length" #scrollOptions>
        <li
          *ngFor="let option of visibleOptions"
          (click)="selectItem(option[this.key])"
          [ngClass]="{ disabled: checkIsDisabled(option[this.key]) }"
        >
          {{ option[this.label] }}
        </li>
      </ul>
      <footer *ngIf="!visibleOptions.length">
        <p>{{ textNotFound() }}</p>
      </footer>
    </div>
  </div>
</div>
