* {
  padding: 0;
  margin: 0;
}

.select {
  width: 100%;
}

.select-presentation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2px 8px;
  border: 1px solid #cecece;
  border-radius: 3px;
}

.select-options-container {
  padding: 4px;
  position: relative;

  /* width */
  ::-webkit-scrollbar {
    width: 4px;
    padding-top: 10px;
  }

  // bar
  ::-webkit-scrollbar-track {
    background: transparent;
  }

  // inside bar
  ::-webkit-scrollbar-thumb {
    background: rgba(191, 195, 199, 0.8);
    border-radius: 8px;
  }
}

.select-options-container header {
  display: flex;
  flex-direction: column;
}

.select-options-container header input {
  width: 100%;
}

.select-options-container header label {
  display: flex;
  align-items: center;

  padding: 5px 10px;
  height: 20px;

  gap: 5px;
  width: 80px;

  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  transition: filter 0.5s;


  &:hover {
    cursor: pointer;
  }
}

.select-options-container header label input {
  width: fit-content;
}


.select-options-container div {
  padding: 5px;
  top: 2px;
  animation: fadeIn 0.4s;
  position: absolute;
  z-index: 999;
  overflow-x: hidden;
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid var(--sicoob-card-border-color);
  border-radius: 4px;

  width: inherit;
  right: 0;
  left: 0;
}

.select-options-container div footer {
  padding: 10px 0 0 0;
}

.select-options-container div ul {
  list-style: none;
  overflow-x: auto;

  padding-top: 10px;

  max-height: 200px;
}

.select-options-container div ul li {
  padding: 5px 10px;
  // height: 20px;
  height: fit-content;
  border-radius: 2px;

  &+li {
    margin-top: 3px;
  }

  &:hover {
    background: #cecece;
    filter: brightness(0.9);
  }

  &.disabled {
    opacity: 0.5;
    background: #cecece;
    color: rgba(0, 0, 0, 0.9);
    cursor: not-allowed;
  }
}

.select-options-container div ul li label {
  display: flex;
  align-items: center;
  gap: 10px;

  &:hover {
    cursor: pointer;
  }
}

/*
* animation
*/
@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}